*{
    margin: 0;
    padding: 0;
    /* margin-left: 20px; */
}
.heading1{
   color:rgb(8, 8, 88) ;
   font-weight: 600;
   margin: 30px 0 60px 90px;
   padding: 5px;
}
.heading2{
    color:rgb(8, 8, 88) ;
    font-weight: 700;
    margin: 5px 0 20px 90px;
}
.para1{
    margin: 5px 0 20px 90px;
    color: gray;
    font-weight: 600;
}
ul.link_head{
    display: inline-flex;
    list-style: none;
    padding: 20px 50px 10px 40px;
    margin: 20px 50px 20px 40px;
    text-align: left;
     justify-content: left;
}
 .link a{
     display: flex;
     text-align: left;
    color: rgb(83, 76, 76);
    margin: 30px 100px 10px 10px;
    border: 5px rgb(118, 112, 112);
    font-weight: 500;
    box-sizing: content-box;
    font-size: 20px;
    outline: none;
    
 }
 .link a:hover{
    text-decoration: none;
    color: crimson;
 }
  form{
  
      display: inline;
      justify-content: space-between;
  }
 input.phn-no{
    align-items: left;
     width: 30%;
     margin: 10px 20px 10px 90px;
      border-radius: 50px;
      padding:10px 50px 10px 10px;
     border-style: hidden;
      background-color: lightgrey;
      box-shadow: 2px 2px gray;
      outline: none;
 }
 button.btn{
      width: 20%;
      border-radius: 50px;
    margin: 10px 50px 10px 30px;
    padding:8px 10px 10px 10px;
    text-align: center;
     color: white;
      background-color: crimson;
      box-shadow: 5px 5px lightgray;    
  }
  button.btn:hover{
      color: white;
      background-color:rgb(142, 2, 30) ;
  }
 .img{
     width: 30vw;
    
      padding: 90px 20px 20px 0 ;
      
    
  }
  .ul2{
      list-style: none;
      text-decoration: none;
  }
  .form2 input{
      width: 10%;
      text-align: center;
      height: 50px;
      border-style: none;
      background-color:rgb(230, 223, 223);
      color: black;
      border-radius: 5px; 
      justify-content: space-around;
      outline: none;
  }
  .para2{
    color: rgb(90, 84, 84);
    font-size: 12px;
    font-weight: 500;
    margin: 0 5px 30px 0 ;
    text-align: left;
  }
  .para2 a{
    color: rgb(90, 84, 84);
    font-size: 12px;
  }
  .otpimg{
      width: 100%;
      height: 32vh;
      margin: 0;
      margin: 2px 10px 2px 2px;
  }
  .modal-dialog{
      width: 100vw;
  }
 .modal-title{
    color:rgb(8, 8, 88) ;
    font-weight: 600;
    margin: 30px 5px 0 10px;
    /* padding: 5px; */
 }
 .ul2 li{

     text-decoration: none;
     font-size: 15px;
     margin: 20px 5px 5px 0;
 }
 button.btn2{
     color: white;
     background-color: crimson;
     margin: 0 500px 0 5px;
     width: 30%;
     border-radius: 20px;
     padding: 8px ;
     border: none;
     box-shadow: 5px 5px lightgray;
 }
 button.btn2:hover{
    color: white;
    background-color:rgb(142, 2, 30) ;
   
 }
 #modalcontainer{
     border-radius: 3rem;
     width: 90%;
     height: 60vh; 
 }
 #content{
     padding: 2px 20px 2px 20px ;
 }